

.container{
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	background: #fff;
	
	display: flex;
}
/* левая часть контейнера */
.container .leftSide {
	position: relative;
	flex: 25%;
	background:#fff;
	

}
/* правая часть контейнера */
.container .rightSide
{
	position: relative;
	flex: 75%;
	background: #fff;
	
}
/* шапка */
.leftSide header{
	position: relative;
	width: 100%;
	height: 15%;
	background:#4B75FF; ;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}
/* оформление логотипа */

.leftSide header h1 {
	position: absolute;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: calc(100vw/25);
	
	text-align: center;
	color: #FFFEFE;
	
}
/* поиск */
.search {
	position: relative;
	width: 100%;
	height: 10%;
	background-color: #CDD9FF;;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	border-bottom: #4B75FF solid 5px 
}
.search div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.search div input {
	width: 100%;
	
	outline: none;
	border: none;
	background: #fff;
	padding: calc(100vw/230) ;;
	
	border-radius: calc(100vw/125);
	font-size: calc(100vw/85);
		
}
/* список подразделений */
.list_of_divisions{
	
	background: #4B75FF;
	position: relative;
	height: calc(100% - 26%);
	overflow-y: auto;
	
}
/* кнопка подразделения */
.link_division{
	width: 100%;
	height:  calc(100vw/16);
	background-color: rgb(205, 217, 255);
	border-top:#4B75FF solid  calc(100vw/200);  
	border-left: #4B75FF solid calc(100vw/250);
	border-right: #4B75FF solid calc(100vw/250);
	border-bottom: rgb(205, 217, 255) solid calc(100vw/250);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
}

.link_division:hover{
	background: rgb(254, 254, 254); /* Old browsers */
    transition: all 1s ease;
	
	
}

/* оформление названия подразления */
.name_division {
	position: absolute;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: calc(100vw/40);
	color: #000000;

}
/* список кафедр */
li ul{
    position: relative;
    min-width: calc(100vw/230) ;
    display: none;
	
	
	
}

	
li:hover > ul{
		width: 100%;
		display: block;
		
		
	   }
.active{
	background: #ddd;
}

	  
.link_division2{
	position:relative;
	width: 100%;
	height: 100%;
	border-bottom:#CDD9FF solid calc(100vw/310)  ;
	border-left:#CDD9FF solid calc(100vw/230) ;
	border-right:#CDD9FF solid calc(100vw/230) ;
	background: #4B75FF;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: calc(100vw/60);
	color: #ffffff;

	
	

}
.link_division2:hover{
	background: rgb(254, 254, 254); /* Old browsers */
    transition: all 0.5s ease;
	color: #000;	
}







.rightSide .header{
	position: relative;
	width: 100%;
	height: 15%;
	background:#4B75FF; ;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.rightSide .header h1 {
	position: absolute;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: calc(100vw/40);
	
	text-align: center;
	color: #FFFEFE;}

/* список устройств */
.contener_equipment_list{
		position: fixed;
		height: 80%;
		display: flex;
		flex-wrap: wrap;
		
		justify-content: space-between;
		
		overflow:auto;
		padding-top:calc(100vw/85) ;
		padding-left: calc(100vw/102);
		padding-right: calc(100vw/125);
		
		
		
	
	
	
}
/* иконки */
img{
	position: relative;
	left: 25%;
	top: 2px;
	width: 50%;
	height: 50%;
	display: block;
}
/* карточка */
.equipment_link{
	
	display: block;
	
	height: 30%;
	width: 23%;
	border: #4B75FF solid  calc(100vw/250);

	border-radius: calc(100vw/125);
	
}
/* изменение цвета при наведении */
.equipment_link:hover{
	background:  #cdd9ffa0; /* Old browsers */
	
	
    transition: all 0.3s ease;
	
}
/* название устройства */
.name{	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: calc(100vw/40);
	
	text-align: center;
	
	color: #000000;
}
/* количество устройств */
.count{



	position: relative;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: calc(100vw/40);
	
	text-align: end;
	color: #000000;
	
}
/*  */
.table{
	position: relative;
	overflow:auto;
	height: 84%;
	padding-left: 2px;
	
	
}

.address{
	width: 100%;
	height: calc(100vw/22) ;
	border-bottom: #4B75FF solid calc(100vw/330) ;
	border-left: #4B75FF solid calc(100vw/330) ;
	background: #CDD9FF;
	display: flex;
	justify-content: center;
	align-items: center;	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: calc(100vw/52);
	
	text-align: center;
	
	color: #000000;
}
.headings{
	width:  100%;
	display: flex;
	
	
	

}
.headings p{
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: #4B75FF solid calc(100vw/330) ;
	border-bottom: #4B75FF solid calc(100vw/330) ;
	position: relative;
	
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: calc(100vw/69);
	
	text-align: center;
	color: #000000;
}
.data{
	position: relative;
	height: calc(100% - 20%);
	overflow-y: auto;
	
}
.data ul {
	width: 100%;
	display: flex;
	
	
}
.data li{
	width: 100%;
	
	
	
}
.data p{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: #4B75FF solid calc(100vw/330) ;
	border-bottom: #4B75FF solid calc(100vw/330) ;
	position: relative;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: calc(100vw/77);
	
	text-align: center;
	color: #000000;

}
.clicker {
	
	outline:none;
	cursor:pointer;
	}
	
	.windows{
	
	display:none;
	
	
	padding: 10px;
	border-radius: 10px;
	background-color: #f1f1f1;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	}
	.windows p{
		width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	position: relative;
	
	
	font-family: 'Inter';
	font-style: normal;
	
	font-size: calc(100vw/50) ;;
	
	text-align: center;
	color: #000000;
		border: none;
	border-bottom: #ddd solid 1px;
	}
	.clicker:focus + .windows{
	display:block;
	position: absolute;
	
	}

.clicker:hover {
	color: #d60000;
	background-color: #ddd
}









